<html>
  <body>
    <div id="topBar">
      <div id="title">Comedians</div>
      <a href="comedians" style="float: left; margin: 25px 15px">
        <svg width="11mm" height="11mm" viewBox="0 0 5.5 5.5">
         <g transform="translate(.14376 -291.64)" fill="none">
          <circle cx="2.6062" cy="294.39" r="2.5" stroke="#fff" stroke-width=".5" class="buttonCircle"/>
          <g transform="matrix(-.00054972 0 0 -.00054972 6.1244 297.91)" stroke="#000" stroke-linejoin="round" stroke-width="721.96">
           <path d="m6295 9146c-40-19-286-260-1282-1257l-1232-1234-16-59c-18-61-16-129 5-150 7-7 116-13 343-16l332-5 5-1295c6-1444-1-1325 76-1410 21-23 56-51 78-63 40-22 49-22 542-25l500-3 55 29c39 20 62 41 84 77l30 48 10 1042 27 51c33 63 91 116 154 140 45 17 80 19 394 19s349-2 394-19c63-24 121-77 154-140l27-51 10-1040 25-45c16-28 43-55 74-75l49-30h511c506 0 511 0 552 22 22 12 57 40 78 63 77 85 70-34 76 1410l5 1295 332 5c227 3 336 9 343 16 21 21 23 89 5 150l-16 59-1232 1234c-1336 1337-1275 1281-1387 1281-37 0-71-8-105-24z" fill="none" stroke="#fff" stroke-linejoin="round" stroke-width="721.96"/>
          </g>
         </g>
        </svg>
      </a>
      <div style="width: auto; height: 75px; background: none; float: left; overflow: hidden;">
        <form id="search">
          <input class="inputBar" type="text" name="query" placeholder="Search..." value="">
          <div class="querySelect">
            <input class="queryButton" type="radio" name="queryType" value="name" checked>Name</input><br/>
            <input class="queryButton" type="radio" name="queryType" value="age">Age</input>
          </div>
          <label style="float: left; margin: 0px 15px">
            <input id="searchButton" type="submit" display="none"/>
            <svg width="11mm" height="11mm" viewBox="0 0 5.5 5.5">
              <g transform="translate(.14376 -291.64)">
                <circle cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5" class="buttonCircle"/>
                <path d="m3.7421 293.26c-0.38879-0.38878-1.0247-0.38915-1.4135-3.7e-4 -0.32745 0.32746-0.37495 0.8285-0.15081 1.2112l-0.9377 0.9377a0.24982 0.22159 45 0 0-0.0018 2e-3 0.24982 0.22159 45 0 0 0.020086 0.33338 0.24982 0.22159 45 0 0 0.33301 0.0197 0.24982 0.22159 45 0 0 0.0018-2e-3l0.9377-0.93771c0.3827 0.22414 0.88375 0.17665 1.2112-0.1508 0.38878-0.38878 0.38878-1.0243-1.1e-6 -1.4131zm-0.24648 0.24648c0.25537 0.25537 0.25501 0.66444-3.702e-4 0.91981-0.25537 0.25537-0.66261 0.25391-0.91798-1e-3 -0.25537-0.25537-0.2572-0.66298-0.0018-0.91835 0.25537-0.25537 0.6648-0.25537 0.92017 0z" fill="#fff"/>
              </g>
            </svg>
          </label>
        </form>
      </div>
      <div style="width: auto; height: 75px; background: none; float: left; overflow: hidden;">
        <div style="background: white; width: 2px; height: 60px; float: left; margin: 12px 0px 0px 5px"></div>
        <a href="comedians/new" style="float: left; margin: 25px 15px 0px 20px">
          <svg width="11mm" height="11mm" viewBox="0 0 5.5 5.5">
           <g transform="translate(.14376 -291.64)">
            <circle cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5" class="buttonCircle"/>
            <path d="m2.6049 292.57c-0.1378 2e-4 -0.24963 0.0994-0.2496 0.22169l5.167e-4 1.3472-1.3462-5.1e-4c-0.12229-3e-5 -0.22149 0.11179-0.22169 0.24959-7.998e-5 0.13796 0.099292 0.25007 0.22169 0.25012l1.3467 5.1e-4 5.168e-4 1.3467c5.23e-5 0.1224 0.11215 0.22177 0.25011 0.22169 0.1378-2e-4 0.24963-0.0994 0.2496-0.22169l-5.17e-4 -1.3462 1.3467 5.2e-4c0.12229 3e-5 0.22149-0.1118 0.22169-0.2496 7.99e-5 -0.13796-0.099292-0.25006-0.22169-0.25011l-1.3467-5.2e-4h-5.167e-4v-5.2e-4l-5.168e-4 -1.3472c-5e-5 -0.1224-0.11215-0.22177-0.25011-0.22169z" fill="#fff"/>
           </g>
          </svg>
        </a>
        <p id="newHeader">Add</p>
      </div>
      <div style="width: auto; height: 75px; background: none; float: left; overflow: hidden;">
        <div style="background: white; width: 2px; height: 60px; float: left; margin: 12px 0px 0px 5px"></div>
        <button id="statisticsButton" style="float: left; margin: 25px 15px 0px 15px; background: none; border: none; outline: none">
          <svg width="11mm" height="11mm" viewBox="0 0 5.5 5.5" style="vertical-align: middle">
           <g transform="translate(.14376 -291.64)">
            <circle class="specialsCircle" cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5"/>
            <path d="m2.2486 296c-0.086457 0.0865-0.23573 0.0777-0.33331-0.0196-0.097613-0.0975-0.10668-0.24723-0.020154-0.33383l1.2573-1.2578-1.2573-1.2573c-0.086451-0.0865-0.077661-0.23571 0.019637-0.33331 0.048773-0.0488 0.11066-0.0751 0.17105-0.0791 0.060386-4e-3 0.11896 0.0156 0.16226 0.0589l1.2335 1.2335c0.097726 0.10253 0.1523 0.2387 0.15245 0.38034-2.424e-4 0.12267-0.041334 0.24177-0.11679 0.33848z" fill="#fff"/>
           </g>
          </svg>
        </button>
        <p id="otherStatisticsHeader">Statistics</p>
      </div>
      <div id="statistics" class="hidden" style="background: none; margin: 20px 97px 0px 0px; overflow: auto; width: 100%;">
        <p id="statisticsHeader">Statistics</p>
        <div style="background: white; width: 80%; height: 2px; margin: 0px 10%"></div>
        <p class="statisticsEntry">Average Age: <%=@averageAge.round(1)%></p>
        <p class="statisticsEntry">Cities: <%string = ""; @cities.each do |city|%>
            <%string << city; string << ", "%>
          <%end%>
          <%=string.chomp(', ')%>
        </p>
      </div>
    </div>
    <div class="topBuffer"></div>
    <div id="list">
      <%i = 0%>
      <div id="left">
        <%bg = 0%>
        <%@comediansLeft.each do |comedian|%>
        <div id="elem<%=i%>" class="element" style="background: <%=@backgrounds[bg]%>">
          <div style="overflow: auto">
            <div class="info">
              <p class="name"><%=comedian.name%></p>
              <p class="origin"><%=comedian.age || "???"%>, Born <%=comedian.birthdate%> in <%=comedian.birthplace || "???"%></p>
              <p class="origin">Currently lives in <%=comedian.home || "???"%></p>
            </div>
            <div class="photo">
              <%if comedian.image_path%>
                <img src="<%=comedian.image_path%>" alt="<%=comedian.name%>" style="max-width: 100%; height: auto">
              <%else%>
                <div style="background: none; width: 100%; height: 1px"></div>
              <%end%>
            </div>
            <div class="deleteButton">
              <form action="/comedians/delete?name=<%=comedian.name%>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <label>
                  <input type="submit" value="delete" style="display: none"/>
                  <svg width="8.25mm" height="8.25mm" viewBox="0 0 5.5 5.5" style="float: right">
                    <g transform="translate(.14376 -291.64)">
                      <circle cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5"/>
                      <path d="m1.0096 294.14c-0.12229-3e-5 -0.22149 0.11179-0.22169 0.24959-7.998e-5 0.13796 0.099292 0.25007 0.22169 0.25012l3.1931 2e-3c0.12229 3e-5 0.22149-0.1118 0.22169-0.2496 7.99e-5 -0.13796-0.099292-0.25006-0.22169-0.25011z" fill="#fff"/>
                    </g>
                  </svg>
                </label>
              </form>
            </div>
          </div>
          <button id="sb<%=i%>" class="specialsButton">
            <svg width="8.25mm" height="8.25mm" viewBox="0 0 5.5 5.5" style="vertical-align: middle">
             <g transform="translate(.14376 -291.64)">
              <circle class="specialsCircle" cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5"/>
              <path d="m2.2486 296c-0.086457 0.0865-0.23573 0.0777-0.33331-0.0196-0.097613-0.0975-0.10668-0.24723-0.020154-0.33383l1.2573-1.2578-1.2573-1.2573c-0.086451-0.0865-0.077661-0.23571 0.019637-0.33331 0.048773-0.0488 0.11066-0.0751 0.17105-0.0791 0.060386-4e-3 0.11896 0.0156 0.16226 0.0589l1.2335 1.2335c0.097726 0.10253 0.1523 0.2387 0.15245 0.38034-2.424e-4 0.12267-0.041334 0.24177-0.11679 0.33848z" fill="#fff"/>
             </g>
            </svg>
          </button>
          <p style="display: inline-block" class="specials">Specials (<%=@specials[comedian.name].count%>)</p>
          <a href="comedians/addSpecial?comedian=<%=comedian.id%>" style="float: right; margin: 10px 0px 5px 0px">
            <svg width="8.25mm" height="8.25mm" viewBox="0 0 5.5 5.5">
             <g transform="translate(.14376 -291.64)">
              <circle cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5" class="buttonCircle"/>
              <path d="m2.6049 292.57c-0.1378 2e-4 -0.24963 0.0994-0.2496 0.22169l5.167e-4 1.3472-1.3462-5.1e-4c-0.12229-3e-5 -0.22149 0.11179-0.22169 0.24959-7.998e-5 0.13796 0.099292 0.25007 0.22169 0.25012l1.3467 5.1e-4 5.168e-4 1.3467c5.23e-5 0.1224 0.11215 0.22177 0.25011 0.22169 0.1378-2e-4 0.24963-0.0994 0.2496-0.22169l-5.17e-4 -1.3462 1.3467 5.2e-4c0.12229 3e-5 0.22149-0.1118 0.22169-0.2496 7.99e-5 -0.13796-0.099292-0.25006-0.22169-0.25011l-1.3467-5.2e-4h-5.167e-4v-5.2e-4l-5.168e-4 -1.3472c-5e-5 -0.1224-0.11215-0.22177-0.25011-0.22169z" fill="#fff"/>
             </g>
            </svg>
          </a>
          <div style="background: white; width: 100%; height: 2px"></div>
          <div style="overflow: hidden">
            <div id="sc<%=i%>" class="specialsContainer hidden">
              <ul>
                <%@specials[comedian.name].each do |special|%>
                  <li><%=special.name%>, <%=special.date%>, <%=special.runtime%> mins.</li>
                <%end%>
              </ul>
            </div>
          </div>
        </div>
        <%bg += 1; bg = 0 if bg > 6; i += 1%>
        <%end%>
      </div>
      <div id="mid">
        <%bg = 0%>
        <%@comediansMid.each do |comedian|%>
        <div id="elem<%=i%>" class="element" style="background: <%=@backgrounds[bg]%>">
          <div style="overflow: auto">
            <div class="info">
              <p class="name"><%=comedian.name%></p>
              <p class="origin"><%=comedian.age || "???"%>, Born <%=comedian.birthdate%> in <%=comedian.birthplace || "???"%></p>
              <p class="origin">Currently lives in <%=comedian.home || "???"%></p>
            </div>
            <div class="photo">
              <%if comedian.image_path%>
                <img src="<%=comedian.image_path%>" alt="<%=comedian.name%>" style="max-width: 100%; height: auto">
              <%else%>
                <div style="background: none; width: 100%; height: 1px"></div>
              <%end%>
            </div>
            <div class="deleteButton">
              <form action="/comedians/delete?name=<%=comedian.name%>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <label>
                  <input type="submit" value="delete" style="display: none"/>
                  <svg width="8.25mm" height="8.25mm" viewBox="0 0 5.5 5.5" style="float: right">
                    <g transform="translate(.14376 -291.64)">
                      <circle cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5"/>
                      <path d="m1.0096 294.14c-0.12229-3e-5 -0.22149 0.11179-0.22169 0.24959-7.998e-5 0.13796 0.099292 0.25007 0.22169 0.25012l3.1931 2e-3c0.12229 3e-5 0.22149-0.1118 0.22169-0.2496 7.99e-5 -0.13796-0.099292-0.25006-0.22169-0.25011z" fill="#fff"/>
                    </g>
                  </svg>
                </label>
              </form>
            </div>
          </div>
          <button id="sb<%=i%>" class="specialsButton">
            <svg width="8.25mm" height="8.25mm" viewBox="0 0 5.5 5.5" style="vertical-align: middle">
             <g transform="translate(.14376 -291.64)">
              <circle class="specialsCircle" cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5"/>
              <path d="m2.2486 296c-0.086457 0.0865-0.23573 0.0777-0.33331-0.0196-0.097613-0.0975-0.10668-0.24723-0.020154-0.33383l1.2573-1.2578-1.2573-1.2573c-0.086451-0.0865-0.077661-0.23571 0.019637-0.33331 0.048773-0.0488 0.11066-0.0751 0.17105-0.0791 0.060386-4e-3 0.11896 0.0156 0.16226 0.0589l1.2335 1.2335c0.097726 0.10253 0.1523 0.2387 0.15245 0.38034-2.424e-4 0.12267-0.041334 0.24177-0.11679 0.33848z" fill="#fff"/>
             </g>
            </svg>
          </button>
          <p style="display: inline-block" class="specials">Specials (<%=@specials[comedian.name].count%>)</p>
          <a href="comedians/addSpecial?comedian=<%=comedian.id%>" style="float: right; margin: 10px 0px 5px 0px">
            <svg width="8.25mm" height="8.25mm" viewBox="0 0 5.5 5.5">
             <g transform="translate(.14376 -291.64)">
              <circle cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5" class="buttonCircle"/>
              <path d="m2.6049 292.57c-0.1378 2e-4 -0.24963 0.0994-0.2496 0.22169l5.167e-4 1.3472-1.3462-5.1e-4c-0.12229-3e-5 -0.22149 0.11179-0.22169 0.24959-7.998e-5 0.13796 0.099292 0.25007 0.22169 0.25012l1.3467 5.1e-4 5.168e-4 1.3467c5.23e-5 0.1224 0.11215 0.22177 0.25011 0.22169 0.1378-2e-4 0.24963-0.0994 0.2496-0.22169l-5.17e-4 -1.3462 1.3467 5.2e-4c0.12229 3e-5 0.22149-0.1118 0.22169-0.2496 7.99e-5 -0.13796-0.099292-0.25006-0.22169-0.25011l-1.3467-5.2e-4h-5.167e-4v-5.2e-4l-5.168e-4 -1.3472c-5e-5 -0.1224-0.11215-0.22177-0.25011-0.22169z" fill="#fff"/>
             </g>
            </svg>
          </a>
          <div style="background: white; width: 100%; height: 2px"></div>
          <div style="overflow: hidden">
            <div id="sc<%=i%>" class="specialsContainer hidden">
              <ul>
                <%@specials[comedian.name].each do |special|%>
                  <li><%=special.name%>, <%=special.date%>, <%=special.runtime%> mins.</li>
                <%end%>
              </ul>
            </div>
          </div>
        </div>
        <%bg += 1; bg = 0 if bg > 6; i += 1%>
        <%end%>
      </div>
      <div id="right">
        <%bg = 0%>
        <%@comediansRight.each do |comedian|%>
        <div id="elem<%=i%>" class="element" style="background: <%=@backgrounds[bg]%>">
          <div style="overflow: auto">
            <div class="info">
              <p class="name"><%=comedian.name%></p>
              <p class="origin"><%=comedian.age || "???"%>, Born <%=comedian.birthdate%> in <%=comedian.birthplace || "???"%></p>
              <p class="origin">Currently lives in <%=comedian.home || "???"%></p>
            </div>
            <div class="photo">
              <%if comedian.image_path%>
                <img src="<%=comedian.image_path%>" alt="<%=comedian.name%>" style="max-width: 100%; height: auto">
              <%else%>
                <div style="background: none; width: 100%; height: 1px"></div>
              <%end%>
            </div>
            <div class="deleteButton">
              <form action="/comedians/delete?name=<%=comedian.name%>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <label>
                  <input type="submit" value="delete" style="display: none"/>
                  <svg width="8.25mm" height="8.25mm" viewBox="0 0 5.5 5.5" style="float:right">
                    <g transform="translate(.14376 -291.64)">
                      <circle cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5"/>
                      <path d="m1.0096 294.14c-0.12229-3e-5 -0.22149 0.11179-0.22169 0.24959-7.998e-5 0.13796 0.099292 0.25007 0.22169 0.25012l3.1931 2e-3c0.12229 3e-5 0.22149-0.1118 0.22169-0.2496 7.99e-5 -0.13796-0.099292-0.25006-0.22169-0.25011z" fill="#fff"/>
                    </g>
                  </svg>
                </label>
              </form>
            </div>
          </div>
          <button id="sb<%=i%>" class="specialsButton">
            <svg width="8.25mm" height="8.25mm" viewBox="0 0 5.5 5.5" style="vertical-align: middle">
             <g transform="translate(.14376 -291.64)">
              <circle class="specialsCircle" cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5"/>
              <path d="m2.2486 296c-0.086457 0.0865-0.23573 0.0777-0.33331-0.0196-0.097613-0.0975-0.10668-0.24723-0.020154-0.33383l1.2573-1.2578-1.2573-1.2573c-0.086451-0.0865-0.077661-0.23571 0.019637-0.33331 0.048773-0.0488 0.11066-0.0751 0.17105-0.0791 0.060386-4e-3 0.11896 0.0156 0.16226 0.0589l1.2335 1.2335c0.097726 0.10253 0.1523 0.2387 0.15245 0.38034-2.424e-4 0.12267-0.041334 0.24177-0.11679 0.33848z" fill="#fff"/>
             </g>
            </svg>
          </button>
          <p style="display: inline-block" class="specials">Specials (<%=@specials[comedian.name].count%>)</p>
          <a href="comedians/addSpecial?comedian=<%=comedian.id%>" style="float: right; margin: 10px 0px 5px 0px">
            <svg width="8.25mm" height="8.25mm" viewBox="0 0 5.5 5.5">
             <g transform="translate(.14376 -291.64)">
              <circle cx="2.6062" cy="294.39" r="2.5" fill="none" stroke="#fff" stroke-width=".5" class="buttonCircle"/>
              <path d="m2.6049 292.57c-0.1378 2e-4 -0.24963 0.0994-0.2496 0.22169l5.167e-4 1.3472-1.3462-5.1e-4c-0.12229-3e-5 -0.22149 0.11179-0.22169 0.24959-7.998e-5 0.13796 0.099292 0.25007 0.22169 0.25012l1.3467 5.1e-4 5.168e-4 1.3467c5.23e-5 0.1224 0.11215 0.22177 0.25011 0.22169 0.1378-2e-4 0.24963-0.0994 0.2496-0.22169l-5.17e-4 -1.3462 1.3467 5.2e-4c0.12229 3e-5 0.22149-0.1118 0.22169-0.2496 7.99e-5 -0.13796-0.099292-0.25006-0.22169-0.25011l-1.3467-5.2e-4h-5.167e-4v-5.2e-4l-5.168e-4 -1.3472c-5e-5 -0.1224-0.11215-0.22177-0.25011-0.22169z" fill="#fff"/>
             </g>
            </svg>
          </a>
          <div style="background: white; width: 100%; height: 2px"></div>
          <div style="overflow: hidden">
            <div id="sc<%=i%>" class="specialsContainer hidden">
              <ul>
                <%@specials[comedian.name].each do |special|%>
                  <li><%=special.name%>, <%=special.date%>, <%=special.runtime%> mins.</li>
                <%end%>
              </ul>
            </div>
          </div>
        </div>
        <%bg += 1; bg = 0 if bg > 6; i += 1%>
        <%end%>
      </div>
    </div>

    <script>
      document.getElementById("statisticsButton").addEventListener("click", showStatistics);
      function showStatistics()
      { if (document.getElementById("statisticsButton").classList.contains("rotated"))
        { document.getElementById("statisticsButton").classList.add("unrotated")
          document.getElementById("statisticsButton").classList.remove("rotated")
          document.getElementById("statistics").classList.add("hidden")
          document.getElementById("statistics").classList.remove("unhidden")
        } else
        { document.getElementById("statisticsButton").classList.add("rotated")
          document.getElementById("statisticsButton").classList.remove("unrotated")
          document.getElementById("statistics").classList.add("unhidden")
          document.getElementById("statistics").classList.remove("hidden")
        }
      }
      document.querySelectorAll(".specialsButton").forEach(button => button.addEventListener("click", showSpecials))
      function showSpecials(event)
      { const button = event.target.closest(".specialsButton")
        const idNum = button.id
        const drawerID = "sc" + idNum.match(/\d+/g)[0]
        const drawer = document.getElementById(drawerID)
        if (button.classList.contains("rotated"))
        { button.classList.add("unrotated")
          button.classList.remove("rotated")
          drawer.classList.add("hidden")
          drawer.classList.remove("unhidden")
        } else
        { button.classList.add("rotated")
          button.classList.remove("unrotated")
          drawer.classList.add("unhidden")
          drawer.classList.remove("hidden")
        }
      }
    </script>
  </body>
</html>